/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-photo img {
    width: auto;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    padding:40px;
    justify-content: center;
}

.info h1 {
    margin: 0 0 10px;
    color: #143c24;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.info-table th {
    background-color: #f9f9f9;
    color: #143c24;
}
